.loading {
	display: none;
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.result-title a {
    font-size: 1.2em;
    text-decoration: none;
}

.result-title a:hover {
    text-decoration: underline;
}

.result-preview {
    color: #808080;
}

.search-input {
    width: 150px;
}

.resultCount {
    color: #808080;
}

.result-query {
    font-weight: bold;
}

.pagination {
	text-align: center;
	margin: 16px 8px 16px 8px;
}
.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}
.pagination a.active {
	background-color: #4CAF50;
	color: white;
}
.pagination a:hover:not(.active) {
	background-color: #ddd;
}