var enum_val = function (e) { var x = e.split("."); return parseInt(x[x.length - 1]); };
var is_enabled = function (s) { var x = s.split("."); if (x[x.length - 1] == "enabled") { return 1; } else { return 0; } };
var rxmb_size = ((enum_val("${{'{'}}{{ id_prefix }}.driver.{{ id_name() }}.rxmb.size{{'}'}}") + 12) * ${{ '{' }}{{ id_prefix }}.driver.{{ id_name() }}.rxmb.number{{ '}' }});
var rxfifo_size =
{% for fifo_number in range(num_fifos) -%}{% filter indent(4,true) -%}
    ((enum_val("${{'{'}}{{ id_prefix }}.driver.{{ id_name() }}.rxfifo.{{ fifo_number }}.payload{{'}'}}") + 12) * enum_val("${{'{'}}{{ id_prefix }}.driver.{{ id_name() }}.rxfifo.{{ fifo_number }}.depth{{'}'}}") * is_enabled("${{'{'}}{{ id_prefix }}.driver.{{ id_name() }}.rxfifo.{{ fifo_number }}.enable{{'}'}}")) {%- if not loop.last %} +{% endif %}
{% endfilter %}{% endfor -%};
var cfifo_size =
{% for fifo_number in range(num_common_fifos) %}{% filter indent(4,true) -%}
    ((enum_val("${{'{'}}{{ id_prefix }}.driver.{{ id_name() }}.commonfifo.{{ fifo_number }}.payload{{'}'}}") + 12) * enum_val("${{'{'}}{{ id_prefix }}.driver.{{ id_name() }}.commonfifo.{{ fifo_number }}.depth{{'}'}}") * is_enabled("${{'{'}}{{ id_prefix }}.driver.{{ id_name() }}.commonfifo.{{ fifo_number }}.enable{{'}'}}")) {%- if not loop.last %} +{% endif %}
{% endfilter %}{% endfor -%};
var buffer_ram_used = rxmb_size + rxfifo_size + cfifo_size;
(buffer_ram_used <= ${config.bsp.fsp.mcu.canfd.buffer_ram}) ? null :
"Allocated buffer memory overflow ("+buffer_ram_used+"/${config.bsp.fsp.mcu.canfd.buffer_ram} bytes).\\r\\n" +
"Reduce the number of message buffers ("+rxmb_size+"B), FIFO stages (RX: "+rxfifo_size+"B, Common: "+cfifo_size+"B), or message depth."
